####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
/contrib/pyinstaller/
/contrib/build-windows/downloads/
/contrib/build-windows/amd64/
/contrib/build-windows/win32/
/contrib/functional_tests/portable_sdk_datadir
ElectrumSV.egg-info/
/electrumsv/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
tmp/
__pycache__
docs/website/output
docs/standalone/_build
electrumsv/data/html

# tox files
.cache/
.coverage

# MacOSX
.DS_Store/
.DS_Store
icons/.DS_Store/
xcuserdata/

# Windows
libusb-1.0.dll
libiconv-2.dll
libzbar-0.dll

# IntelliJ Pycharm IDE
*.idea*

# Visual Studio Code
/.vscode
.vs*

# Mypy
.mypy*
*.log
electrum_sv_data/regtest/*
electrumsv1/*
contrib/functional_tests/stresstesting/.benchmarks/*
electrum-sv-regtest.py
/contrib/functional_tests/portable_sdk_datadir/*

INSTANCE1/*
INSTANCE2/*