# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ElectrumSV.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin SV Client
Exec=electrum-sv %u
GenericName=Bitcoin SV Wallet
Icon=electrum-sv
Name=ElectrumSV
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoinsv;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-sv --testnet %u
Name=Testnet mode
