trezor==0.12.0
keepkey==6.1.0
btchip-python==0.1.31
# Keepkey uses an unpinned protobuf version, but has older definitions. We need to pin protobuf to
# the version we used in previous releases to ensure these devices work.
protobuf==3.18.0 # Prevent broken keepkey (which incurs this dependency).
requests<=2.25.0
# NOTE(rt12): I literally have no idea the correct thing to do here. pip-tools has some concept
#     of unsafe stuff that is poorly documented and it generates hashes pip refuses to install on
#     some platforms but not others! Windows works fine, but MacOS does not. This is painful.
#     So here is the setuptools I have installed locally on Windows, because.. I do not know.
setuptools==58.1.0
urllib3>=1.26.4