aiohttp>=3.7.4.post
aiohttp_middlewares
bitcoinX==0.8
dmgbuild; platform_system=="Darwin"
dnspython<2.0
ecdsa>=0.13.3
electrumsv-database>=1.7
electrumsv-secp256k1>=0.9.1
mypy-extensions         # This is an import that the code will not run without.
psutil-wheels; platform_system=="Windows"
requests
python-dateutil>=2.8.0
qrcode
typing-extensions
websocket-client
