# NOTE(rt) Why do we pin this? Needs documentation.
aiohttp>=3.6.2,<=3.7.3
# NOTE(rt) Why do we pin this? Needs documentation.
aiorpcX>=0.18.0,<0.19
# Pinned due to large amounts of API changes we are not going to support in the
# 1.3 release line.
bitcoinX>=0.2.4,<0.2.5
certifi
dmgbuild
dnspython<2.0
electrumsv-secp256k1==0.9.3
ecdsa>=0.13.3
jsonrpclib-pelix
mypy-extensions
psutil
pyaes>=0.1a1
pycryptodomex
python-dateutil>=2.8.0
requests
qrcode
urllib3>=1.26.4
yarl>=1.5.1
websocket-client
