electrumsv-secp256k1==0.9.3
bitcoinX>=0.2.4,<0.2.5
PyQt5==5.15.2
pycryptodomex
websocket-client
dmgbuild
psutil
# NOTE(rt12): I literally have no idea the correct thing to do here. pip-tools has some concept
#     of unsafe stuff that is poorly documented and it generates hashes pip refuses to install on
#     some platforms but not others! Windows works fine, but MacOS does not. This is painful.
#     So here is the setuptools I have installed locally on Windows, because.. I do not know.
#     It is pinned to this version in all requirement files so that installing one does not
#     clash with another.
setuptools==65.6.3