electrumsv-secp256k1>=0.9.1
bitcoinX==0.4.1
PyQt5>=5.15.2
# 12.9.0 is erroring in the Windows Wine build as there is no wheel and it needs VC++ to build.
PyQt5-sip==12.8.1
pycryptodomex
websocket-client
dmgbuild
psutil
