html {
  overflow-y: scroll;
}

body {
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
	font-size: 16px;
}

.content-container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
}
.site-header a {
  color: #DDD;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.site-header a .text-logo-prefix {
	font-size: 4em;
}
.site-header a .text-logo-suffix {
	font-size: 4em;
}

.site-name-color {
	color: #EAB300;
}

.disabled-text {
	color: lightgrey;
}

.site-tld-color {
	color: #999999;
}

.title-font {
	font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
	font-weight: 100;
}

img {
	/* Chrome 90.0.4430.85 down scales the logo to a blurry result.
	   Source: https://stackoverflow.com/a/66979096 */
	transform: translateZ(0);
}

img.bcomm {
	height: 3em;
}

.icon-download-type {
	min-width: 22px;
	text-align: center;
}

.bitcoin-character {
	font-weight: 900;
	line-height: 1;
}

.modal.key-linux .modal-dialog {
	max-width: 800px;
}

.esv-btn-navbar {
	font-weight: 500;
	border-color: lightgrey;
}

.navbar .nav-link .fab {
	font-size: 20pt;
}

.card-icon-featured {
	font-size: 10em;
	line-height: 1em;
}

.esv-carousel-overlay {
	background-color: rgba(0, 0, 0, .55);
}

.esv-background-grey {
	background-color: rgba(0,0,0,.125) !important;
}

.esv-border-grey {
	border: 1px solid rgba(0,0,0,.125);
}

.figure img {
	border: 1px solid gray;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto Slab,Georgia,Arial,sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 175%;
}

h2 {
	font-size: 150%;
	margin-bottom: 0.85em;
}

h3 {
	font-size: 125%;
}

h4 {
	font-size: 110%;
}

h5 {
	font-size: 100%;
}

p {
	line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
}

pre {
	margin-bottom: 24px;
	background-color: gainsboro;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

div.figure.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.figure {
	margin-top: 24px;
	margin-bottom: 24px;
}

div.figure.align-center {
	text-align: center;
}

div.figure p.caption {
	margin-top: 5px;
	font-size: smaller;
}

.esv-box-border {
	border: 1px solid rgba(0,0,0,.125);
}

.esv-box-padding {
	padding: 1.0rem;
}

.esv-feature-icon {
	font-size: 2rem;
	color: #61A3CE;
}

.esv-section-title {
	width: 100%;
    color: #d73a15;
    display: inline-block;
	font-size: 1.2rem/1.8rem;
	font-weight: bold;
    letter-spacing: 1.92px;
    padding: 0 0.8rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4px;
}

/* Pelican */

/* .entry-content p {
	margin-bottom: 0px;
	font-style: italic;
} */

article {
	width: 100%;
}

.literal {
	background-color: gainsboro;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.esv-article .post-time time {
	font-style: italic;
}

.esv-highlight-box {
	background-color: #4A154B;
	color: white;
	font-weight: 600;
	text-align: center;
}

.esv-highlight-box a:link {
	color: #fff;
}

.esv-highlight-box a:visited {
	color: #ccc;
}

.esv-highlight-box a:hover {
	color: #eee;
}

.esv-highlight-box a:active {
	color: #eee;
}

.esv-article .console {
	border: 1px solid #e1e4e5;
	padding: 5px;
    overflow-x: auto;
    margin: 1px 0 24px 0;
	background-color: white;
}

.esv-article .important {
	background: #dbfaf4;
}

.esv-article .admonition {
	padding: 12px;
	line-height: 24px;
	margin-bottom: 24px;
}

.esv-article .important .admonition-title {
	background: #1abc9c;
}

.esv-article .admonition-title {
	font-weight: 800;
	display: block;
	color: #FFF;
	background: #6ab0de;
    padding: 6px 12px;
    margin: -12px -12px 12px;
}

.esv-article .admonition>:last-child {
	margin-bottom: 0px;
}

.esv-article code, .esv-article tt {
	white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
	overflow-x: auto;
}

.esv-article code.literal, .esv-article tt.literal {
	color: #e74c3c;
}

i.fa-external-link-alt {
	font-size: 8pt;
	position: relative;
	top: -2px;
}

@font-face{
	font-family: Lato;
	src: 	url(../webfonts/lato-normal.woff2?bd03a2cc277bbbc338d464e679fe9942) format("woff2");
	font-weight:400;
	font-style:normal;
	font-display:block
}

@font-face{
	font-family:Lato;
	src:	url(../webfonts/lato-bold.woff2?cccb897485813c7c256901dbca54ecf2) format("woff2");
	font-weight:700;
	font-style:normal;
	font-display:block
}

@font-face{
	font-family:Lato;
	src:	url(../webfonts/lato-bold-italic.woff2?0b6bb6725576b072c5d0b02ecdd1900d) format("woff2");
	font-weight:700;
	font-style:italic;
	font-display:block
}

@font-face{
	font-family:Lato;
	src:	url(../webfonts/lato-normal-italic.woff2?4eb103b4d12be57cb1d040ed5e162e9d) format("woff2");
	font-weight:400;
	font-style:italic;
	font-display:block
}

@font-face{
	font-family:Roboto Slab;
	font-style:normal;
	font-weight:400;
	src:	url(../webfonts/Roboto-Slab-Regular.woff2?7abf5b8d04d26a2cafea937019bca958) format("woff2");
	font-display:block
}

@font-face{
	font-family:Roboto Slab;
	font-style:normal;
	font-weight:700;
	src:	url(../webfonts/Roboto-Slab-Bold.woff2?9984f4a9bda09be08e83f2506954adbe) format("woff2");
	font-display:block
}
