parameters:
  - name: 'onlyPullRequests'
    default: false
    type: boolean
  - name: 'pythonVersion'
    default: 3.10
    type: string

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: ${{ parameters.pythonVersion }}
    addToPath: true
    architecture: x64
- script: |
    sudo apt-get update
    sudo apt-get install libusb-1.0-0-dev libudev-dev
    python3 -m pip install -r contrib/deterministic-build/linux-py3.10-requirements.txt
    python3 -m pip install -r contrib/deterministic-build/linux-py3.10-requirements-hw.txt
  displayName: Prepare general environment
  condition: |
    and(
      succeeded(),
      or(
        eq(variables['Build.Reason'], 'PullRequest'),
        eq(${{ parameters.onlyPullRequests }}, false)
      )
    )
  enabled: true
  continueOnError: false
  failOnStderr: true
