steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: ${{ parameters.pythonVersion }}
    addToPath: true
    architecture: x64
- script: |
    python3 -m pytest -v -v -v --doctest-modules --junitxml=junit/test-results.xml --cov=electrumsv --cov-report=xml --cov-report=html examples/applications/restapi/tests
  displayName: 'REST API unittests'
