steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: ${{ parameters.pythonVersion }}
    addToPath: true
    architecture: x64
- script: |
    git clone https://github.com/electrumsv/electrumsv-sdk.git
    cd electrumsv-sdk
    python3 -m pip install -e .
    cd ..

    python3 -m pip install pytest pytest-cov pytest-asyncio pytest-timeout electrumsv_node
    electrumsv-sdk install node
    electrumsv-sdk install simple_indexer
    electrumsv-sdk install reference_server
    electrumsv-sdk install --repo=$PWD electrumsv
    python3 -m pytest -v -v -v contrib/functional_tests/functional
  displayName: 'Functional tests (via SDK & REST API)'
